body {
    font-family: sans-serif;
    background-color: #1f6357;
    color: #000;
}

h1 {
    color: #61b29f;
    text-align: center;
    font-weight: 800;
}
  
form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
}

input[type="text"] {
    flex: 1;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
}

.button {
    background-color: #61b29f;
    border: none;
    color: #0d5c4d;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

ul {
    width: 500px;
    max-width: 70%;
    margin: 40px auto;
    padding: 20px;
    border: 3px solid #000;
    display: block;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

li.completed {
    text-decoration: line-through;
    color: grey;
}

.todo-text {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.todo-remove {
    margin-left: auto;
    background-color: #f76918;
    color: #000;
    border: none;
    padding: 2px 10px;
    border-radius: 3px;
    cursor: pointer;
    height: 15px;
    font-weight: 600;
}

input[type="checkbox"] {
    margin-right: 10px;
    height: 20px;
    width: 20px;
    appearance: none;
    background-color: white;
}

input[type="checkbox"]:checked {
    background-color: gray;
}
