@font-face {
    font-family: "Poppins";
    src: url("font/Poppins.ttf");
}

body {
    background-color: #7bd3b1;
    font-family: "Poppins";
    margin: 0;
    text-align: center;
}

h1 {
    background-color: rgb(36, 31, 31);
    color: #b8f7df;
    border: 5px solid;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    padding: 0 10px;
}

.con {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.text {
    font-size: 30px;
    margin: 50px 10px;
}

.score {
    background-color: #e7ebeb;
    display: inline;
    font-size: 70px;
    border-radius: 30px;
    margin: 20px 0;
}

h2 {
    font-family: bradley;
}

.image {
    border: 4px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.image-con {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
}

figcaption {
    width: max-content;
    margin: auto;
}

figure {
    margin: 16px;
}

#refresh {
    display: flex;
    justify-content: right;
    margin-right: 15%;
    cursor: pointer;
    font-size: 18px;
}

#result {
    font-size: 40px;
    margin: 30px 0 0 0;
}
